[submodule "microservices/Stats"]
	path = microservices/Stats
	url = git@github.com:BudgetControl/Stats.git
[submodule "microservices/Workspace"]
	path = microservices/Workspace
	url = git@github.com:BudgetControl/Workspace.git
[submodule "microservices/Gateway"]
	path = microservices/Gateway
	url = git@github.com:BudgetControl/Gateway.git
[submodule "microservices/CommandJobs"]
	path = microservices/CommandJobs
	url = git@github.com:BudgetControl/CommandJobs.git
[submodule "microservices/Budget"]
	path = microservices/Budget
	url = git@github.com:BudgetControl/Budget.git
[submodule "microservices/Entries"]
	path = microservices/Entries
	url = git@github.com:BudgetControl/Entries.git
[submodule "microservices/Wallets"]
	path = microservices/Wallets
	url = git@github.com:BudgetControl/Wallets.git
[submodule "microservices/SearchEngine"]
	path = microservices/SearchEngine
	url = git@github.com:BudgetControl/SearchEngine.git
[submodule "microservices/Authentication"]
	path = microservices/Authentication
	url = git@github.com:BudgetControl/Authentication.git
