[submodule "microservices/Stats"]
	path = microservices/Stats
	url = git@github.com:BudgetControl/Stats.git
[submodule "microservices/Workspace"]
	path = microservices/Workspace
	url = git@github.com:BudgetControl/Workspace.git
[submodule "microservices/Gateway"]
	path = microservices/Gateway
	url = git@github.com:BudgetControl/Gateway.git
[submodule "microservices/Authtentication"]
	path = microservices/Authtentication
	url = git@github.com:BudgetControl/Authtentication.git
[submodule "microservices/CommandJobs"]
	path = microservices/CommandJobs
	url = git@github.com:BudgetControl/CommandJobs.git
[submodule "microservices/Budget"]
	path = microservices/Budget
	url = git@github.com:BudgetControl/Budget.git
