<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Search">
      <directory suffix="Test.php">./app/Search/Tests</directory>
    </testsuite>
    <testsuite name="BudgetTracker">
      <directory suffix="Test.php">./app/BudgetTracker/Tests</directory>
    </testsuite>
    <testsuite name="Stats">
      <directory suffix="Test.php">./app/Stats/Tests</directory>
    </testsuite>
    <testsuite name="Charts">
      <directory suffix="Test.php">./app/Charts/Tests</directory>
    </testsuite>
    <testsuite name="Auth">
      <directory suffix="Test.php">./app/User/Tests</directory>
    </testsuite>
    <testsuite name="Budget">
      <directory suffix="Test.php">./app/Budget/Tests</directory>
    </testsuite>
    <!-- <testsuite name="Mailer">
      <directory suffix="Test.php">./app/Mailer/Tests</directory>
    </testsuite> -->
  </testsuites>
  <coverage/>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="mysql_phpunit"/>
    <env name="PHPUNIT_DB_HOST" value="budgetcontrol-db"/>
    <env name="PHPUNIT_DB_DATABASE" value="budgetV2_phpunit"/>
    <env name="PHPUNIT_DB_USERNAME" value="rootuser"/>
    <env name="PHPUNIT_DB_PASSWORD" value="rootpasswrord"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
